<wicket:panel xmlns:wicket="http://www.w3.org/1999/xhtml">
    <td>
        <a class="btn btn-sm" style="min-width: 70px;" wicket:id="setAsPrincipalBtn">
            <span wicket:id="principalLabel"></span>
        </a>
    </td>
    <td>
        <div class="d-flex gap-1">
            <a class="btn btn-sm btn-outline-primary rounded-circle p-1"
               style="width: 32px; height: 32px;"
               wicket:id="editarBtn">
                <i data-lucide="edit" style="width: 16px; height: 16px;"></i>
            </a>
            <a class="btn btn-sm btn-outline-danger rounded-circle p-1"
               style="width: 32px; height: 32px;"
               wicket:id="excluirBtn">
                <i data-lucide="trash-2" style="width: 16px; height: 16px;"></i>
            </a>
        </div>
    </td>
</wicket:panel>
