<h2 mat-dialog-title>Exportar Clientes {{ data.clienteType === 'fisico' ? 'Físicos' : 'Jurídicos' }}</h2>

<mat-dialog-content>
  <p>Selecione o formato para exportação:</p>

  <div class="export-options">
    <button (click)="exportPdf()" [disabled]="exportingPdf" mat-raised-button>
      <lucide-icon name="file-text"></lucide-icon>
      {{ exportingPdf ? 'Exportando...' : 'Exportar PDF' }}
    </button>

    <button (click)="exportXlsx()" [disabled]="exportingXlsx" mat-raised-button>
      <lucide-icon name="table"></lucide-icon>
      {{ exportingXlsx ? 'Exportando...' : 'Exportar XLSX' }}
    </button>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button [mat-dialog-close]="false" mat-button>Fechar</button>
</mat-dialog-actions>
