<h2 mat-dialog-title>Novo Cliente Físico</h2>

<form (ngSubmit)="submit()" [formGroup]="form">
  <mat-dialog-content>
    <div class="form-grid-2">
      <mat-form-field appearance="outline">
        <mat-label>CPF</mat-label>
        <input
          [dropSpecialCharacters]="false"
          formControlName="cpf"
          mask="000.000.000-00"
          matInput
        />
        <mat-error *ngIf="form.get('cpf')?.invalid && form.get('cpf')?.touched">
          {{ getFieldError('cpf') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Data Nascimento</mat-label>
        <input formControlName="dataNascimento" matInput type="date" />
        <mat-error *ngIf="form.get('dataNascimento')?.invalid && form.get('dataNascimento')?.touched">
          Campo obrigatório
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input formControlName="nome" matInput/>
        <mat-error *ngIf="form.get('nome')?.invalid && form.get('nome')?.touched">
          {{ getFieldError('nome') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>RG</mat-label>
        <input formControlName="rg" matInput maxlength="9"/>
        <mat-error *ngIf="form.get('rg')?.invalid && form.get('rg')?.touched">
          {{ getFieldError('rg') }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>
        <input formControlName="email" matInput type="email"/>
        <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
          {{ getFieldError('email') }}
        </mat-error>
      </mat-form-field>
    </div>

    <h3 class="section-title">Endereços</h3>
    <app-endereco-form #enderecoForm></app-endereco-form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button [mat-dialog-close]="false" mat-button type="button">Cancelar</button>
    <button [disabled]="submitting" color="primary" mat-raised-button type="submit">
      {{ submitting ? 'Salvando...' : 'Salvar' }}
    </button>
  </mat-dialog-actions>
</form>
