<div class="home-page">
  <div class="tabs">
    <button
      (click)="activeTab = 'fisico'"
      [ngClass]="{ 'tab-active': activeTab === 'fisico' }"
      mat-stroked-button
    >
      Físicos
    </button>
    <button
      (click)="activeTab = 'juridico'"
      [ngClass]="{ 'tab-active': activeTab === 'juridico' }"
      mat-stroked-button
    >
      Jurídicos
    </button>
  </div>

  <div class="tab-content">
    <app-fisico-table *ngIf="activeTab === 'fisico'"></app-fisico-table>
    <app-juridico-table *ngIf="activeTab === 'juridico'"></app-juridico-table>
  </div>
</div>
