<?xml version="1.0" encoding="UTF-8"?>
<html xmlns:wicket="http://wicket.apache.org">
<wicket:panel>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <!-- Add more headers based on your data -->
        </tr>
        </thead>
        <tbody>
        <tr wicket:id="rows">
            <!-- Your cells will be populated by populateRow() -->
        </tr>
        </tbody>
    </table>

    <!-- Paginator goes here -->
    <nav wicket:id="navigator"></nav>
</wicket:panel>
</html>