{{>licenseInfo}}

import { Provider, NgModule, ModuleWithProviders } from "@angular/core";
import { {{configurationClassName}}, {{configurationParametersInterfaceName}} } from './configuration';
import { BASE_PATH } from './variables';

// For Angular 14: Use Provider[] instead of EnvironmentProviders
export function provideApi(configOrBasePath: string | {{configurationParametersInterfaceName}}): Provider[] {
return [
typeof configOrBasePath === "string"
? { provide: BASE_PATH, useValue: configOrBasePath }
: {
provide: {{configurationClassName}},
useValue: new {{configurationClassName}}({ ...configOrBasePath }),
},
];
}
